<form action="<%= edit_book_path(params[:id]) %>" method="POST" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  
  <input type="hidden" name="_method" value="put" />

  <label>Title</label>
  <input type="text" name="title" value="<%= @book.title %>"/>

  <label>Description</label>
  <input type="textarea" name="description" value="<%= @book.description %>"/>

  <label>Author</label>
  <input type="text" name="author" value="<%= @book.author %>"/>
  <label>Publisher</label>
  <input type="text" name="publisher" value="<%= @book.publisher %>"/>
  <label>Genre</label>
  <input type="text" name="genre" value="<%= @book.genre %>"/>

  <input type="submit" value="Update" />
</form>