<div class="book-detail">
<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<h3><%= @book.publisher %></h3>
<h4><%= @book.genre %></h4>
<p><%= @book.description %></p>
<%= link_to "", books_path, class: "fas fa-arrow-circle-left link-styling" %>
</div>

<%= link_to "", edit_book_path, class: "fas fa-edit link-styling" %>

<form action="<%= delete_book_path %>" method="POST" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="submit" value="Delete" />
  </form>