<div class="book-detail">
<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<h3><%= @book.publisher %></h3>
<h4><%= @book.genre %></h4>
<p><%= @book.description %></p>
<%= button_to "Back", :method => :back %>
</div>

<%= link_to "Update", edit_book_path %>

<form action="<%= delete_book_path %>" method="POST" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="submit" value="Delete" />
  </form>