<div class="book-detail">
<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<h3><%= @book.publisher %></h3>
<h4><%= @book.genre %></h4>
<p><%= @book.description %></p>
<a href="/">
< Back 

</a>
</div>